html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
}

main {
    flex: 2;
}

aside {
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.gear {
    width: 20px;
    vertical-align: middle;
    filter: hue-rotate(200deg) brightness(150%) saturate(200%);
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.prod-count {
    font-size: 12px;
    min-width: 20px;
    display: inline-block;
}

.prod-inc {
    width: 20px;
    padding: 0;
    vertical-align: middle;
}

.todo {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 14px;
}